@import url("https://fonts.bunny.net/css?family=abhaya-libre:400,500,600,700,800");

$prim-clr-1: #212529;
$prim-clr-2: #495057;
$prim-clr-3: #adb5bd;
$prim-clr-4: #ced4da;
$prim-clr-5: #f8f9fa;

* {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  background-color: $prim-clr-5;
  font-family: "Abhaya libre", sans-serif;
  font-size: 18px;
  color: $prim-clr-1;
}

.main-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4rem;

  .logo {
    color: $prim-clr-1;
    font-size: 1.5rem;
    font-weight: 700;

    h1 {
      margin: 0;
    }
  }

  .slide-show-btn {
    text-transform: uppercase;
    font-size: 1.1rem;
    color: $prim-clr-2;
  }
}

.main-cont {
  $gap: 3rem;
  padding: 2rem 8rem;
  columns: 5;
  column-gap: $gap / 2;

  .painting-wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
    overflow: hidden;
    cursor: pointer;

    &::after {
      content: "";
      height: 100%;
      width: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 212, 255, 0) 0%,
        rgba(33, 37, 41, 1) 100%
      );
      position: absolute;
      inset: 0;
    }

    .content-box {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      z-index: 2;

      h3 {
        margin: 0;
        font-size: 2.5rem;
        color: $prim-clr-5;
      }

      p {
        margin: 0;
        font-size: 1.25rem;
        color: $prim-clr-5;
      }
    }

    img {
      width: 100%;
      transition: scale ease-in-out 200ms;
    }

    &:hover img {
      scale: 1.1;
    }
  }
}

.image-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  img {
    width: 100%;
  }
}
